body {
  max-width: 1440px;
  margin: auto;

  header {
    .images {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        width: 51px;
        height: 46px;
        margin: 40px 0 3px 0;
      }

      .name {
        width: 270px;
        height: 50px;
        margin-bottom: 12px;
      }
    }

    .search-bar {
      display: flex;
      margin: auto;
      max-width: 1240px;
      height: 69px;
      position: relative;

      #site-search {
        font: 400 18px $first-typography;
        padding-left: 22px;
        width: 100%;
        border-radius: $radius;
        border: none;
        background: $primary-color;

        &:active,
        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0.5;
        }
      }

      button {
        background: none;
        border: none;
        position: absolute;
        right: 16px;
        top: 18px;
      }
    }
  }

  #recipes {
    display: flex;
    justify-content: left;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
    width: 1240px;

    .missing {
      font: 400 25px $first-typography;
      margin: 25px auto;
      text-align: center;
    }

    .recipeCard {
      width: 380px;
      height: 364px;
      cursor: pointer;

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      .image {
        width: 100%;
        height: 50%;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
        }
      }

      .textContent {
        background: $primary-color;
        width: 100%;
        height: 50%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;

        .textContentUp {
          display: flex;
          justify-content: space-between;
          font-family: $first-typography;
          padding: 20px;

          .name {
            font-size: 18px;
            font-weight: 400;
            max-width: 230px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .time {
            font-size: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;

            .clock {
              height: 20px;
              width: 20px;
              margin-right: 7px;
            }
          }
        }

        .textContentDown {
          display: flex;
          justify-content: space-between;
          padding: 0px 20px 20px 20px;
          height: 100px;
          overflow: hidden;

          .ingredients {
            font-family: $first-typography;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 12px;
            max-width: 171px;
            height: 87px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
            margin-right: 10px;

            span {
              font-weight: 700;
            }
          }

          .description {
            font-family: $second-typography;
            font-size: 12px;
            width: 171px;
            height: 86px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: hidden;
          }
        }
      }
    }
  }
}
